.todo {
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: sans-serif;
  font-size: x-large;
}

.container {
  margin: 5vw;
}

.todo-feeder {
  height: 2vh;
  outline: none;
  margin-top: 1vw;
}

.task {
  margin: 4px;
  cursor: pointer;
  font-size: 18px;
}

.done {
  text-decoration: line-through;
}

.task::before {
  content: '';
  padding-left: 10px;
  margin-right: 4px;
}

.done::before {
  background-color: mediumseagreen;
}

.working::before {
  background-color: lightsalmon;
}

.undone::before {
  background-color: lightblue;
}

.remove {
  visibility: hidden;
}

.todo:hover .remove {
  cursor: pointer;
  visibility: visible;
}
