.pending-todo {
  background-color: lightblue;
}

.processing-todo {
  background-color: lightsalmon;
}

.done-todo {
  background-color: mediumseagreen;
}

.status {
  width: 10px;
  height: 18px;
}

.todo {
  display: flex;
  padding-top: 10px;
}

.todo span {
  cursor: pointer;
  padding-left: 10px;
}

.strike-through {
  text-decoration: line-through;
}

.title {
  font-family: sans-serif;
  font-size: x-large;
}

.container {
  margin: 5vw;
}

.todo-feeder {
  height: 2vh;
  outline: none;
  margin-top: 1vw;
}

.todoTitle {
  font-size: larger;
  font-weight: bold;
}
