.pending-todo {
  width: 10px;
  height: 18px;
  background-color: lightblue;
}

.done-todo {
  width: 10px;
  height: 18px;
  background-color: mediumseagreen;
}

.todo {
  display: flex;
  padding-bottom: 10px;
  cursor: pointer;
}

.todo-content {
  padding-left: 10px;
}

.strike-through {
  padding-left: 10px;
  text-decoration: line-through;
}

.text {
  padding-left: 10px;
}

.title {
  font-family: sans-serif;
  font-size: x-large;
}

.container {
  margin: 5vw;
}

.todo-feeder {
  height: 2vh;
  outline: none;
}
